body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
}

fieldset {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #495057;
}

.ent,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.ent{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}
